.galaxy-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.galaxy-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
